/*body {
   padding: 10px; 
}*/

h1 {
    text-decoration: none;
}

h2 {
    font-family: $font-family-serif;
    font-size: 28px;
    color: $brand-primary;
    text-decoration: none;


}

h3 {
    font-family: $font-family-sans-serif;
}

h4 {
    font-size: 18px;
    font-family: $font-family-sans-serif;
    color: $brand-secondary;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}
h6 {
    color: white;
}
