// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #5E133A;

$brand-secondary:        #094C57;

$brand-terciary:        #7A3C31;
$brand-accent:          #f4f4f4;