

.home-page-title {
    font-family: $font-family-serif;
    font-size: 30px;
    position: relative;
    margin-top: 40px;
    a{
        color: $brand-primary;
    }
}

.home-page-content { 
    position: relative;
    text-align: center;
    font-family: $font-family-serif; 
    font-size: 16px;
}

/*
    max-width: 25%;
    float: left;
    margin: 0 0 0 0;
    padding: 10px;
    position: relative;
    min-height: 330px;
    box-sizing: border-box;
    text-align: center;
    border: 25px solid grey;
}*/


.page-title{
    padding-top: 10px;
    font-family: $font-family-serif;
    font-size: 22px;

}

.box{
    width: 300px;
    border: 25px solid darkgrey;
    padding: 25px;
    margin: 25px;
}
